/target/
.settings/

/gen files/
src/main/java/in/cognitron/lms/gen
src/main/java/in/cognitron/lms/gen/form
src/main/java/in/cognitron/lms/gen/list
src/main/java/in/cognitron/lms/gen/schema
src/main/java/in/cognitron/lms/gen/sql
